img#splash(src="/images/init.gif")
canvas#monitor(width="320",height="240",style="display:none;")
canvas#frame(width="320", height="240", style="display:none;")
video#camera(width="80", height="64", autoplay="", style="margin:-54px 0 0 -83px; border: 2px solid orange;")
