img#splash.screen(src="/images/init.gif")
canvas#monitor.screen(width="320",height="240",style="display:none;")
canvas#frame.screen(width="320", height="240", style="display:none;")
video#camera(width="80", height="64", autoplay="");
