h1= title
div.main
  video(id="camera", width="400", height="300", autoplay="", style="display:none")
  canvas(id="frame", width="400", height="300")
  div(id="w")
script(type="text/javascript")
  runCamera();

