h1= title
div.main
  table(cellpadding=0, cellspacing=0)
    tbody
      tr
        td
          img(src="images/left.gif")
        td
          img(src="images/top.gif")
          br
          canvas(id="display", width="320", height="240")
          br
          img(src="images/bottom.gif")
        td
          img(src="images/right.gif")
script(type="text/javascript", src="/javascripts/station.js")
script(type="text/javascript")
  runMonitor();
